 

.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; 
  margin: 0 auto;
}

.slide { 
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 